@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #0e8af0;
    --secondary: #00d084;
    --dark: #0f172a;
    --radius-sm: 8px;
    --radius-md: 16px;
    --radius-lg: 24px;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #1e293b;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Outfit', sans-serif;
}

.glass {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}